.search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  &__label{
    font-size: 40px;
  }
}

.input {
  margin: 20px;
  width: 200px;
  height: 50px;
  border:1px solid green;
  border-radius: 20px;
  padding-left: 10px;
}

