.wrapper{
  display: flex;
  justify-content: space-between;
}

.user__list, .post__list{
  width: 50%;
  padding: 10px;
}

.user__item {
  margin-bottom:15px;
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.post__item {
  margin-bottom: 10px;
}

.post__title {
  font-size: 1.2em;
  color: darkblue;
}