.users {
  width: 50%;

  &__item {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid green;
  }
}

.btn {
  color: white;
  background-color: green;
  border: none;
  width: 70px;
  height: 30px;
}